{% extends 'base.html' %}
{% block title %}Profilim{% endblock %}

{% block content %}
<h2>Beğendiğiniz Tarifler</h2>
<div class="row">
  {% for recipe in liked_recipes %}
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ url_for('main.recipe_detail', recipe_id=recipe.id) }}">{{ recipe.title }}</a>
          </h5>
          <form method="POST" action="{{ url_for('main.unlike', recipe_id=recipe.id) }}">
            <button type="submit" class="btn btn-danger btn-sm">Beğenmekten Vazgeç</button>
          </form>
        </div>
      </div>
    </div>
  {% else %}
    <p>Henüz beğendiğiniz bir tarif yok.</p>
  {% endfor %}
</div>
{% endblock %}